@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque:300,400,500,600,700,800,900&display=swap');
@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
* {
    font-size: 14px;
    font-family: Darker Grotesque;
    color: rgba(0, 0, 0, 0.85);
}
body {
    margin: 0;
}


/* NAV */

/* BOTON hamburguesa */
nav div ul li button {
   background: transparent;
   border: 0;
   margin-top: 5px;   
}
nav div ul li button::before {
   background: transparent;
   border: 0;
   content: "\f0c9";
   font-family: FontAwesome;
   font-style: normal;
   font-size: 1.4em;
   color: black;
}
nav div ul li button:hover::before {
    color: rgb(240, 41, 55);
}
/* FIN BOTON */


.contenedor-musica {
    margin: 0 1%;
}


/* SECCIONES */
nav div ul li a b {
    text-decoration: none;
    color: black;
    font-size: 1em;
}
nav div ul li a b:hover {
    color: rgb(240, 41, 55);
}
nav div ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.4em;
    font-weight: 500;
}
nav div ul li a:hover {
    color: rgb(240, 41, 55);
}
nav div ul li {
    list-style: none;
}
nav div ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    margin-bottom: 5px;
}
/* FIN SECCIONES */


/* NAV GENERAL */
nav div {
    display: block;
    margin: 0 3%;
    
}
nav {
   margin-bottom: 20px;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 4;
   background: rgba(255, 255, 255, 0.9);
}

/* FIN NAV GENERAL */


/* BOTON CONOCE MAS */

.boton-conocer {
    display: flex;
    justify-content: space-around;
    height: 190px;
}

.boton-conocer button {
    background: #4858ef;
    color: white;
    font-weight: 600;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    font-size: 1.5em;
    border: 0;
    cursor: pointer; 
} 
.boton-conocer button:hover {
    transform: scale(0.8, 0.8);
    transition-duration: 1s;  
    font-weight: 600;
    font-size: 1.9em;
}
.invisible {
    width: 10px;
    background: transparent;
}

/* FIN BOTON CONOCER */




/* SECCION MUSICA - GENERAL */
main section .contenedor-musica {
    display: block;
}

.bloque {
    display: flex;
    margin-bottom: 20px;
}

.bloque:nth-of-type(1) {
    margin-top: 50px;
}

.sesenta {
    flex: 60%;
    
} 
.cuarenta {
    flex: 40%;
    display: flex;
    flex-wrap: wrap;
}


/* ARTICULO TITULO SECCION (60% BLOQUE 1)*/
.titulo h1{
    font-size: 15em;
    font-weight: 500;
    width: 100%;
    margin: 0 10px;
    
}
.titulo h1:hover {
    color: rgb(240, 41, 55);
    cursor: pointer;
}

.contenedor-comentario {
   
    display: block;
}


.comentario {
    
    padding-left: 30%;
    
} 

.comentario p {
    font-size: 2.2em;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 15px;
    margin-top: 0;
    margin-left: 5px;
}
.comentario .by {
    font-size: 1.5em;
    font-weight: 100;
    color: gray;
    text-align: end;
    margin-right: 5%;
    margin-top:0;
}
/* FIN ARTICULO SECCION */

/* NOTICIA 40% 1 */
.info-noticia {
    display: flex;
}
.titulo-noticia {
    flex: 40%;
    font-size: 2.2em;
    font-weight: 500;
    line-height: 30px;
    margin: 3%;
}
.titulo-noticia:hover {
    color: rgb(240, 41, 55);
    cursor: pointer;
}
.extra-noticia {
    flex: 40%;
    font-size: 1.4em;
    font-weight: 100;
    line-height: 30px;
    margin: 3%;
}
.info-noticia a {
    text-decoration: none;
}

/* FIN NOTICIA 40% 1 */

/* NOTICIA SESENTA ABAJO */

.noticia-sesenta {
    display: flex;
}

.noticia-sesenta .info-noticia {
    flex-direction: column;
}

.noticia-sesenta .info-noticia .extra-noticia {
    align-self: flex-end;
}

.noticia-sesenta {
    margin-left: 3%;
}

/* FIN NOTICIA SESENTA ABAJO */

/* foto LARA-----------------------------------*/
.section-foto{
    margin-top: 100px;
    margin-left: 2%;
    margin-right: 2%;
}
.contenedor-foto1{
    display: flex;
    flex-direction: row;
}


    .izquierda-foto{
        width: 70%;
        display: flex;
        flex-direction: column;     
    }

    
        .izquierda-foto .superior1{
            width: 100%;
            display: block;     
        }
.wow  {
                font-family: 'Roboto', sans-serif;
                font-size: 10em;
                float: left;
                transition-duration: 1s;
}  
       
            .izquierda-foto .wow:hover{
                transform: translateX(10px);
                transition-duration: 1s;
                
            }
        /*inferior1*/

        .izquierda-foto .inferior1{
            width: 100%;
            } 

            .izquierda-foto .subtitulo{
                color: gray;
                padding-left: 25%;
                padding-bottom: 1%;
                font-family: 'Roboto', sans-serif;
                font-size: 2em;
                transition-duration: 1s;
            }
            .izquierda-foto .subtitulo:hover{
                transform: translateX(10px);
                transition-duration: 1s;
                
            }
            .izquierda-foto .parrafos{     
                display: flex;
                padding-left: 25%;
                font-family: 'Roboto', sans-serif;
                font-size: 1em;
            
            }
            .izquierda-foto p{
                width: 50%;
                margin: 1%;
            }
            .izquierda-foto .inferior1 .parrafos a{
                text-decoration: none;
            }


    .derecha-foto{
        width:30%;                           
        display: flex;
        flex-direction: column;
        }
        .derecha-foto .superior2 img{
            width: 100%;
           
        }

        .derecha-foto .inferior2{
            display: flex;
            flex-direction: row;
        }
            .derecha-foto .texto1{
                color: grey;
                font-family: 'roboto';
                font-size: 2em;
                margin: 2%;
            }
            .derecha-foto .texto2{
                font-family: 'roboto';
                font-size: 1em;
                margin: 1%;
                
            }
.contenedor-foto2 {
    width: 100%;
     
}
.caja1{
    margin-top:5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


.contenedor-foto2 .caja1 p{
    color: grey;
    width: 20%;
    font-family: 'roboto';
    font-size: 1em;
    font-weight: lighter;
    margin: 1%;
    
}
.contenedor-foto2 .caja1 h2{
    font-family: 'roboto';
    font-size: 2em;
    width: 40%;
    font-weight: lighter;
    transition: 1s;
    
}
.contenedor-foto2 .caja1 h2:hover{
                transform: translateX(10px);
                transition: 1s;
                
            }

        .contenedor-foto2 button{
        margin-right: 5%;
        margin-left: 5%;
      
        border-radius: 100%;
        height: 200px;
        width: 200px;
        border: 0px;
        background: red;
        color: white;
        
      
        
    }
    .contenedor-foto2 button:hover{
        transform: scale(0.7,0.7);
        transition: 1s;
        
    }

    footer{
        display: flex;
        flex-direction: row;
        height: 300px;
        margin-top: 5%;
        margin-left: 5%;
        
    }
    footer h3{
        font-size: 1.5em;
        margin: 0%;
    }

    footer div{
        width: 25%;
    
       
    }
    footer li{
        list-style:none;
    }
   
    footer ul{
        padding: 0%;
    }

    footer li a{
        font-weight: bold;
        text-decoration: none;
    }
    footer li a:hover{
        color: red;
    }
    footer .foot-div-3{
        background-color: rgb(116, 114, 114);
        padding: 0%;
    }
    footer .foot-div-4 {
        margin-left: 2%;
        
    }
    footer .foot-div-4 div {
        margin: 2%;
        display: flex;
        flex-direction: row;
        
    }
    footer .boton-submit{
        border: 0px;
        background-color: blue;
        color: white;
    }
    footer input{
        width: 300px;
        height: 50px;
        border: 0px;
    }

  

    /*fin seccion fotografia lara--------------------*/


/* RESPONSIVE */
/*responsive lara-------*/

@media (max-width: 600px){
    .contenedor-foto1{
    flex-direction: column;
    }
    .izquierda-foto{
        width: 100%;
    }
    .izquierda-foto .parrafos{
        flex-direction: column;
        padding:0%;
    }
    .izquierda-foto .p{
        width: 100%;
    }
    .caja1{
        flex-direction: column;
    }
    .derecha-foto{
        width: 100%;
    }
    .derecha-foto .inferior2{
        width:100%;
        flex-direction: column;
    }
    .contenedor-foto2 .caja1 h2{
        width:100%;
    }
    .contenedor-foto2 button{
        width:100px;
        height: 100px;
    }
    .contenedor-foto2 .caja1 p{
        width: 100%;
    }
}



/*fin responsive lara*/

@media (max-width: 700px) {
    .bloque {
        flex-direction: column;
    }
    .bloque:nth-of-type(1) {
        flex-direction: column;
        margin-top: 0;
    }
    .noticia-sesenta {
        flex-direction: column;
        margin: 0;
    }
    .secciones {
        display: none !important;
    }
    .titulo h1 {
        font-size: 8em;
        margin: 0 5px;
    }
    .comentario p {
        font-size: 1.5em;
    }
    .comentario .by {
        font-size: 1em;
    }

    .titulo-noticia {
        font-size: 1.5em;
    }
    .extra-noticia {
        display: none;
    }
    .imagen-noticia img {
        width: 100%;
        margin: 10px auto;
    }
    .titulo-noticia {
        margin: 10px auto;
    }

    .boton-conocer button {
       display: none;
    } 
    .boton-conocer {
        display: none;
    }
    nav div ul li a b {
        color: rgb(240, 41, 55);
    }
    .contenedor-musica {
        margin: 0 5%;
    }
        
    
}



@media (min-width: 700px) and (max-width: 800px) {

    .bloque {
        flex-direction: column;
    }

    .bloque:nth-of-type(1) {
        margin-top: 0;
    }
    
    .imagen-noticia {
        margin: 0 auto;
    }

    .noticia-sesenta {
        margin: 0;
    }

    .contenedor-musica {
        margin: 0 5%;
    }
    .sesenta {
        margin-bottom: 15px;
    }
    .cuarenta {
        margin-bottom: 10px;
    }
    nav {
        margin-bottom: 0;
    }
}

@media (min-width: 800px) and (max-width: 1150px) {

    .bloque {
        flex-direction: column;
    }
    
    .cuarenta {
        display: flex;
        flex-wrap: nowrap;
    }
    .info-noticia {
        display: flex;
        flex-direction: column;
    }
    .imagen-noticia {
        margin-top: 15px;
    }
    .contenedor-musica {
        margin: 0 5%;
    }
    nav {
        margin-bottom: 0;
    }
    .bloque:nth-of-type(1) {
        margin-top: 0;
    }

}

@media (min-width: 1150px) and (max-width: 1300px) {

    .noticia-sesenta {
        flex-direction: column;
        margin: 0;
    }
    .noticia-sesenta .info-noticia {
        flex-direction: row;
    }
    
    .cuarenta .info-noticia {
        margin: 0;
        padding: 0;
        align-self: flex-start;
    }
  
    .cuarenta .imagen-noticia {
        margin: auto 0;
    }
    
    .sesenta .imagen-noticia {
        margin: 0 auto;
    }
    .titulo h1 {
        margin: 0;
    }
}

